body{
    font-style: italic;
}
.main{
    width:90% ;
    margin: 20px auto;
    border: solid blue 1px;
    padding: 20px;
    background-color: chocolate;
}
h2{
    color:lime;
}
.encabezado{
    background-color: darkred;
    padding: 20px;
    margin-bottom:20px ;
    font-size: 30px;
    box-shadow: 0px 10px 10px black;
}
h3{
    color: crimson;
}